@theme inline {
	--animate-shimmer: shimmer var(--shimmer-duration, 2s) linear infinite;
	--animate-spin-slow: spin-slow 3.6s linear infinite;

	@keyframes shimmer {
		from {
			background-position: 100% center;
		}
		to {
			background-position: 0% center;
		}
	}

	@keyframes spin-slow {
		to {
			transform: rotate(360deg);
		}
	}
}
